:root {
    --btn-fg: #002E6D;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* center everything horizontally */
  justify-content: center; /* center vertically */
  position: relative;
  height: 100%;
}