@font-face {
  font-family: 'Gilroy';
  src: url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  align-items: flex-end;
  background-image: url('background.webp');
  background-position: center;
  background-size: cover;
  display: flex;
  font-family: 'Gilroy';
  height: 100vh;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.logo {
  height: auto;
  margin-bottom: 20px;
  max-width: 200px;
  width: 100%;
}

.contact-btn {
  background-color: white;
  border: 2px solid #fff;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  font-family: 'Gilroy';
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
  background-color: #f0f0f0;
  color: black;
}

@media (max-width: 768px) {
  .container {
      margin-left: 20px;
      padding: 15px;
  }

  .contact-btn {
      font-size: 14px;
      padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .logo {
      max-width: 150px;
  }

  .contact-btn {
      font-size: 12px;
      padding: 6px 12px;
  }
}
