<style>
        @font-face {
            font-family: 'Gilroy ExtraBold';
            src: url('/fonts/Gilroy-ExtraBold.eot'); /* IE9 Compat Modes */
            src: url('/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/fonts/Gilroy-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/fonts/Gilroy-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
                 url('/fonts/Gilroy-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */            
                 url('/fonts/Gilroy-ExtraBold.otf') format('opentype');
        }
    </style>